.blog-home{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;

  margin: 0;
  color: var(--c_pastel);
}

.blog-home h2 {
  font-size: 30pt;
  padding-left: 5em;
}

.blog-home ul {
   list-style-type: none;
}

.blog-home p {
  font-size: 20pt;
  color: var(--c_red);
  padding-left: 8em;
}

.blog-home br {
  display: none;
}

.blog-home ul li a {
  list-style-type: none;
  font-size: 30pt;
  color: var(--c_pastel);
}

.blog-home img {
  width: 20vw;
  padding: 5em;
}

.blog-home .rss-subscribe * {
  font-size: 20pt;
  color: var(--c_pastel);
}

@media(max-width: 750px){

  .blog-home {
    grid-template-columns: 1fr;
    margin: auto;
  }

  .blog-home p, .blog-home h2, .blog-home img {
    padding: 0;
  }


}
