.bio {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-items: center;
}

.bio img{
  height: 30vh;
}

.bio p, .bio a {
  font-size: 15pt;
  text-align: justify;
  text-justify: inter-word;

}

#bio-texto {
  padding: 0em 5em;
  border-left: solid 5px;
  margin-left: 10vh;
}

@media(min-width: 1700px){

  .bio {
    margin-top: 100px;
  }

  #bio-texto p {
    padding-left: 90px;
    padding-right: 50px;
  }

  .bio p, .bio a {
    padding: 0 1em;
    font-size: 15pt;
  }

  #bio-texto {
    border-left: solid 5px;
    margin: 0px 90px;
  }

}

@media(max-width: 750px){

  .bio {
    display: unset;
    margin-top: 0px;
  }

  .bio img {
    display:none;
  }

  .bio p {
    font-size: 16pt;
    padding-bottom: 1em;
    margin: 0;
  }

  #bio-texto {
    padding: 0;
    border: none;
    margin: 0;
  }

}
