.bio {
  padding: 10em 5em;
}

.bio img{
  height: 25vw;
  float: right;
  margin: 3em;
  padding: 1em;
}

.bio p {
  padding: 0 1em;
  font-size: 20pt;
  text-align: justify;
  text-justify: inter-word;

}

#bio-texto {
  padding: 1em;
}

@media(min-width: 1700px){

  #bio-texto {
    columns: 600px;
    column-gap: 10em;
    column-rule: solid;
    margin-top: 10em;
  }

  .bio img {
    height: 30vh;
    margin-top: 10em;
  }

}

@media(max-width: 750px){

  .bio {
    padding: 1em;
  }

  .bio img {
    display:none;
  }

  .bio p {
    font-size: 16pt;
  }

}
