nav {
  margin-top: 0.6em;
}

nav * {
  display: inline;
  padding: 0;
}

.menu {
  display: none;
}

nav > ul > li > ul li {
  float: left;
  animation-name: menu2;
  animation-duration: 600ms;
  transform-origin: left center;
}

nav > ul > li > ul li:last-child {
  float: right;
}

nav > ul > li > ul li a {
  font-size: 2h;
  padding: 10px 25px;
}

nav li.sel-inicio:hover, nav a.sel-inicio:hover, #nav-inicio {
  background-color: var(--c_green);
  color: var(--c_black);
  font-weight: bold;
}

nav li.sel-sobre:hover, nav a.sel-sobre:hover, #nav-sobre {
  background-color: var(--c_pastel);
  color: var(--c_black);
  font-weight: bold;
}

nav li.sel-corblog:hover, nav a.sel-corblog:hover, #nav-bloghome, #nav-blogpost {
  background-color: var(--c_red);
  color: var(--c_black);
  font-weight: bold;
}

nav li.sel-start:hover, nav a.sel-start:hover, #nav-start {
  background-color: var(--c_pastel);
  color: var(--c_black);
  font-weight: bold;
}

nav li.sel-tex:hover, nav a.sel-tex:hover, #nav-tex {
  background-color: var(--c_green);
  color: var(--c_black);
  font-weight: bold;
}

@media(max-width: 786px){
  
  nav, ul {
    margin: 1px 0;
  }

  nav a {
    font-size: 16pt;
  }

  ul#dropdown-content {
    position: absolute;
    width: 100%;
    margin-top: 30px;
  }

  .menu {
    display: block;
    padding: 0.3em;
    font-size: 12pt;
    min-height: 30px;
  }

  nav * {
    display: grid;
  }

  ul#dropdown-content li {
    display: none;
  }

  nav li:hover > ul#dropdown-content li:nth-child(1) {
    display: grid;
    opacity: 0;
    transform-origin: top center;
    animation-name: menu;
    animation-delay: 0ms;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    background-color: var(--c_black);
  }

  nav li:hover > ul#dropdown-content li:nth-child(2) {
    display: block;
    opacity: 0;
    transform-origin: top center;
    animation-name: menu;
    animation-delay: 200ms;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    background-color: var(--c_black);
  }

  nav li:hover > ul#dropdown-content li:nth-child(3) {
    display: block;
    opacity: 0;
    transform-origin: top center;
    animation-name: menu;
    animation-delay: 400ms;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    background-color: var(--c_black);
  }

  nav li:hover > ul#dropdown-content li:nth-child(4) {
    display: block;
    opacity: 0;
    transform-origin: top center;
    animation-name: menu;
    animation-delay: 600ms;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    background-color: var(--c_black);
  }

  nav li:hover > ul#dropdown-content li:nth-child(5) {
    display: block;
    opacity: 0;
    transform-origin: top center;
    animation-name: menu;
    animation-delay: 800ms;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    background-color: var(--c_black);
  }

  nav li:hover > ul#dropdown-content li:nth-child(6) {
    display: block;
    opacity: 0;
    transform-origin: top center;
    animation-name: menu;
    animation-delay: 1000ms;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    background-color: var(--c_black);
  }

}

@keyframes menu {

  0%{transform: rotateX(-90deg); opacity: 0;}
  60%{transform: rotateX(50deg);}
  100%{transform: rotateX(0deg); opacity: 1; }
}

@keyframes menu2 {

  0%{transform: rotate3d(y); opacity: 0;}
  60%{transform: rotate3d(y);}
  100%{transform: rotate3d(y); opacity: 1; }
}
