#showcase {
  background-image: url(../img/vanitas_small_wikicommons.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;

  display: grid;
  align-content: end;

  transition: ease-in-out;
  transition-duration: 4s;
  animation-name: encolher;
  animation-duration: 3s;
}

#showcase-blog {
  background-image: url(../img/blog_collier.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;

  display: grid;
  align-content: end;

  transition: ease-in-out;
  transition-duration: 4s;
  animation-name: encolher-blog;
  animation-duration: 3s;
}

@keyframes encolher {
  0% {height: 40vh;}
  100% {height: 30vh;}
}

@keyframes encolher-blog {
  0% {height: 40vh;}
  100% {height: 20vh;}
}

.box {
  position: absolute;
  background-color: rgb(0,0,0,0.1);
  color: rgb(55,55,55,0.2);
  font-size: 30pt;
  height: 50px;
  width: 50px;
  margin: 0;
}

.box:hover +  #showcase{
  height: 90vh;
}

.box:hover +  #showcase-blog{
  height: 90vh;
}
#showcase h1{
  padding: 0 3em;
  background-color: rgb(18, 23, 20, 0.8);
  z-index: 2;
  font-size: calc(2vw + 1.5vh + 40%);
  font-variant-caps: small-caps;
  text-shadow: 2px 2px var(--c_black);
}

#showcase-blog h1{
  padding: 0 3em;
  background-color: rgb(18, 23, 20, 0.8);
  z-index: 2;
  font-size: calc(2vw + 1.5vh + 40%);
  font-variant-caps: small-caps;
  text-shadow: 2px 2px var(--c_black);
}
nav {
  width: 100%;
}

nav ul {
  display: inline;
  list-style-type: none;

  margin: 0;
  padding: 0;
  width: 50px;
  overflow: hidden;
}

nav li {
  float:left;
}

nav li:last-child {
  float: right;
}

nav li a {
  display: block;
  color: var(--c_pastel);
  text-align: center;
  padding: 15px 40px;
  font-size: 20pt;
  transition: ease-in-out;
  transition-duration:0.3s;
}

nav li.sel-inicio:hover, nav a.sel-inicio:hover, #nav-inicio {
  background-color: var(--c_green);
  color: var(--c_black);
  font-weight: bold;
}

nav li.sel-sobre:hover, nav a.sel-sobre:hover, #nav-sobre {
  background-color: var(--c_pastel);
  color: var(--c_black);
  font-weight: bold;
}

nav li.sel-corblog:hover, nav a.sel-corblog:hover, #nav-corblog {
  background-color: var(--c_red);
  color: var(--c_black);
  font-weight: bold;
}

nav li.sel-start:hover, nav a.sel-start:hover, #nav-start {
  background-color: var(--c_yellow);
  color: var(--c_black);
  font-weight: bold;
}

nav li.sel-tex:hover, nav a.sel-tex:hover, #nav-tex {
  background-color: var(--c_blue);
  color: var(--c_black);
  font-weight: bold;
}

@media(max-width: 750px){

  #showcase h1 {
    background-color: rgb(18, 23, 20, 0.9);
    padding: 0;

    font-size: 30pt;
    text-align: center;
    justify-content: center;
    align-content: center;
  }

  #showcase-blog h1 {
    background-color: rgb(18, 23, 20, 0.9);
    padding: 0;

    font-size: 30pt;
    text-align: center;
    justify-content: center;
    align-content: center;
  }

  nav ul {
    display: grid;
    width: unset;
  }

}
