.forms {
  display: grid;
  justify-items: center;
}

.gridquad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin-top: 2em;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 0;
}

@media(min-width:1366px){

  .gridquad {
    margin-right: 13em;
    margin-left: 13em;
  }
}

@media(max-width: 786px){

  .gridquad {
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
  }

  .gridquad > div > ul {
    padding: 0 !important;
  }

  .forms input {
    width: 100%;
    margin: 0;
  }
}
