.forms {
  display: grid;
  justify-items: center;
}

.forms input {
  width: 600px;
  height: 40px;
}

.gridquad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin-top: 2em;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 0;
}

.gridquad ul {
  border-left: solid 1px;
}

@media(min-width:1366px){

  .gridquad {
    margin-right: 13em;
    margin-left: 13em;
    margin-top: 5em;
  }
  
  .gridquad a {
    font-size: 13pt;
  }

}

@media(max-width: 786px){

  .gridquad {
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
  }

  .gridquad ul {
    border-left: none;
  }

  .gridquad > div > ul {
    padding: 0 !important;
  }

  .forms input {
    width: 300px;
    margin: 0;
  }
}
