.blog-home{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  width: 90%;

  margin-left: 20px;
  padding-left: 3em;
  color: var(--c_pastel);
}

.blog-home h2 {
  font-size: 20pt;
  padding: 0 1em;
}

.blog-home ul {
   list-style-type: none;
}

.blog-home p {
  font-size: 15pt;
  color: var(--c_red);
  padding-left: 2em;
}

.blog-home ul li a {
  list-style-type: none;
  font-size: 30pt;
  color: var(--c_pastel);
}

.blog-home img {
  width: 26vh;
  margin: 3em 4em;
  text-align: center;
}

.blog-home .rss-subscribe * {
  font-size: 20pt;
  color: var(--c_pastel);
}

@media(min-width: 1366px){

  .blog-home h2 {
    border-left: solid 2px;
  }
  
  .post-list {
    padding-left: 300px;
  }
}

@media(max-width: 786px){

  .blog-home {
    margin: 10px;
    grid-template-columns: 1fr;
    padding: 0;
  }

  .blog-home p, .blog-home h2, .blog-home img {
    padding: 0;
  }

}
