:root {
  --c_red: #CA3E3A;
  --c_blue: #126B8C;
  --c_green: #3C6152;
  --c_yellow: #CAA73A;
  --c_black: #121714;
  --c_pastel: #B08E55;
  --main_ff: font-family: 'EB Garamond', serif;
}

body {
  background-color: var(--c_black);
  color: var(--c_pastel);
  font-family: 'EB Garamond', serif;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  font-size: calc(1.5*(1.5vh));
  text-decoration: none;
  color: var(--c_pastel);
}

a:hover {
  font-weight: bold;
}

h1 {
  font-size: calc(0.5 * 3vh);
}

form input {
  width: 100%;
  text-align: center;
  background-color: var(--c_pastel);
  color: #000000;
  border: 0;
}

input[type=text]{
  margin-top: 2em;
  font-size: 16pt;
  width: 450px;
}

footer * {
  font-size: 12pt;
  text-align: center;
  padding: 0;
  margin: 0;
}

footer {
  bottom: 2px;
}
 
.container {
  margin-top: 5vw;
  padding: 1em 2em;
  min-height: 65vh;
}
