---
layout: default
title: "Língua Portuguesa e Redação"
professor: luis
---

<section id="inicio">
  <article>
    {% capture bio %}{% include_relative pages/includes/bio.md %} {% endcapture %}
    {{ bio | markdownify }}
  </article>
</section>

<section id="alunos">
  <article>
    {% capture alunos %}{% include_relative pages/includes/alunos.md %} {% endcapture %}
    {{ alunos | markdownify }}
  </article>
</section>

<section id="revisoes">
  <article>
    {% capture revisoes %}{% include_relative pages/includes/revisoes.md %} {% endcapture %}
    {{ revisoes | markdownify }}
  </article>
</section>

<section id="about">
  <article>
    {% capture sobre %}{% include_relative pages/includes/sobre.md %} {% endcapture %}
    {{ sobre | markdownify }}
  </article>
</section>
