---
layout: default
title: LaTeX - Links Úteis
subtitle: LaTeX
nav: nav-tex
cor: tex
permalink: /latex
---

<div class="startgrid">
{% assign a = site.data.recursos %}

{% assign c = "Básico" %}
{% assign b = "sharelatex" %}
{% include dataloop.html %}

{% assign c = "Misc" %}
{% assign b = "wikibooks" %}
{% include dataloop.html %}

{% include latex_search.html %}
</div>

<div class="startgrid">
{% assign a = site.data.manuais %}

{% assign c = "Referências" %}
{% assign b = "manuais-referencias" %}
{% include dataloop.html %}

{% assign c = "Língua & Cod." %}
{% assign b = "manuais-cod" %}
{% include dataloop.html %}

{% assign c = "Formatação" %}
{% assign b = "manuais-form" %}
{% include dataloop.html %}

{% assign c = "Misc" %}
{% assign b = "manuais-misc" %}
{% include dataloop.html %}
</div>
