---
layout: default
title: Start Page
subtitle: Página inicial
nav: nav-start
cor: start
---

{% include startpage_search.html %}

<div class="startgrid">
{% assign colecao = site.data.startlinks %}

{% assign titulo = "Faculdade" %}
{% assign tipo = "facul" %}
{% include dataloop.html %}

{% assign titulo = "Social & Fun" %}
{% assign tipo = "fun" %}
{% include dataloop.html %}

{% assign titulo = "Misc" %}
{% assign tipo = "varia" %}
{% include dataloop.html %}

{% assign titulo = "Localhost" %}
{% assign tipo = "localhost" %}
{% include dataloop.html %}
</div>
