body
  background-color: $c_black
  color: $c_pastel
  font-family: $main_ff
  margin: 0

li
  list-style-type: none

a
  font-size: calc(1.5*(1.5vh))
  text-decoration: none
  color: $c_pastel

a:hover
  font-weight: bold

p
  font-size: 13pt

.inicio
  margin-top: 4vh
  display: grid
  grid-template-columns: 2fr 1fr
  align-items: center
  justify-items: center
  #texto
    border-left: solid 1px
    padding-left: 1em
  #img
    display: grid
    justify-items: center
    img
      width: 50%

h1
  font-size: calc(0.5 * 3vh)

form input
  width: 100%
  text-align: center
  background-color: $c_pastel
  color: #000000
  border: 0

input[type=text]
  margin-top: 2em
  font-size: 16pt
  width: 450px

footer
  bottom: 2px
  *
    font-size: 12pt
    text-align: center
    padding: 0
    margin: 0

.container
  margin-top: 5vw
  padding: 1em 2em
  min-height: 65vh

