---
layout: default
title: LaTeX - Links Úteis
subtitle: LaTeX
nav: nav-tex
cor: tex
---

<div class="texgrid">
  <h2 class="title"> Básico </h2>
  <ul>
      {% for recurso in site.data.recursos %}
        {% if recurso.fonte == 'sharelatex' %} 
        <li><a href="{{recurso.link}}"> {{recurso.tipo}} </a><li>
        {% endif %}
      {% endfor %}
  </ul>

  <h2 class="title"> Macros e </br> paratexto </h2>
  <ul>
    {% for recurso in site.data.recursos %}
        {% if recurso.fonte == 'wikibooks' %} 
        <li><a href="{{recurso.link}}"> {{recurso.tipo}} </a><li>
        {% endif %}
    {% endfor %}
  </ul>

  <div id="buscatex">
    <form action="https://www.ctan.org/search" method="get">
    <input name="phrase" accept-charset="ISO-8859-1" type="text" placeholder="Busca em CTAN">
    </form>

    <form name="searchbox" action="https://www.wikibooks.org/wiki/Latex">
      <input name="search" type="text" size="13" dir="ltr" placeholder="Latex no Wikibooks"/>
    </form>

    <form action="https://tex.stackexchange.com/search" method="get"  role="search">
    <input name="q" type="text" placeholder="Latex no StackExchange" value="" maxlength="240" />
    </form>
  </div>
</div>
    

<div class="texgrid">

  <h2 class="title"> Referências </h2>
  <ul>
      {% for manuais in site.data.manuais %}
          {% if manuais.fonte == 'manuais-referencias' %} 
            <li><a href="{{manuais.link}}"> {{manuais.tipo}} </a></li>
          {% endif %}
      {% endfor %}
  </ul>

  <h2 class="title"> Língua e </br> Codificação </h2>
  <ul>
      {% for manuais in site.data.manuais %}
          {% if manuais.fonte == 'manuais-cod' %} 
            <li><a href="{{manuais.link}}"> {{manuais.tipo}} </a></li>
          {% endif %}
      {% endfor %}
  </ul>

  <h2 class="title"> Formatação </h2>
  <ul>
      {% for manuais in site.data.manuais %}
          {% if manuais.fonte == 'manuais-form' %} 
            <li><a href="{{manuais.link}}"> {{manuais.tipo}} </a></li>
          {% endif %}
      {% endfor %}
  </ul>

  <h2 class="title"> Misc </h2>
  <ul>
      {% for manuais in site.data.manuais %}
          {% if manuais.fonte == 'manuais-misc' %} 
            <li><a href="{{manuais.link}}"> {{manuais.tipo}} </a></li>
          {% endif %}
      {% endfor %}
  </ul>
</div>
