<section id="aulas">

  <article>
  <h1 id="modalidades">Modalidades</h1>

  <p>Aulas de Língua Portuguesa (refoço escolar e concursos), Língua Francesa e aulas de Redação (ENEM e concursos).</p>

  <p>Ofereço também correção de redações. Ela é acompanhada de uma <strong>ficha detalhada de correção</strong> e também <strong>temas elaborados de acordo com exigências do aluno</strong>.</p>

  <p><a id="agendar" target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=NHE5bHNsOG9pOWhkZG84bTNrNjVucHEwcTAgZTBjMDdrc2luMnVvMHE5aTZyamFkNjQxZXNAZw&amp;tmsrc=e0c07ksin2uo0q9i6rjad641es%40group.calendar.google.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_pt-BR.gif" /> Clique aqui para agendar uma aula! </a></p>

  <h1>Preços</h1>

  <h2>Aulas</h2>

  <p><strong>R$ 50,00</strong> por hora.</p>

  <p><strong>R$ 180,00</strong> pacote com <strong>quatro</strong> aulas.</p>

  <h2>Correções de redação</h2>

  <p><strong>R$ 10,00</strong> por correção (inclui elaboração de temas).</p>

  <p><strong>R$ 45,00</strong> pelo pacote de <strong>cinco</strong> correções (inclui elaboração de temas).</p>


  <h2>Como é feito o pagamento?</h2>

  <p>Depósito bancário, emissão de boletos ou anúncio pelo Mercado Livre.</p>

  <p>Emitimos nota fiscal (CNPJ 32.958.137/0001-40).</p>

  </article>

</section>


