<div id="contato">
  <form action="https://formspree.io/luisfcdarcadia@gmail.com"
        method="POST">
      <input type="email" name="_replyto" placeholder="E-mail">
      <input type="hidden" name="_format" value="plain" />
      <input type="text" name="_gotcha" style="display:none" />
      <input type="hidden" name="_subject" value="Veio da Github Page!" />
      <textarea name="message" placeholder="Mensagem"></textarea>
      <input type="hidden" name="_next" value="/thanks" />
      <input type="submit" id="button" value="Enviar">
  </form> 
</div>

