<head>
  <meta charset="utf-8">

  <title>{{site.blog_title}} · {{page.title}}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{site.description}}">
  <meta name="author" content="{{site.author}}">

  <link rel="stylesheet" href="{{site.baseurl}}{{site.css_path}}/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=EB+Garamond">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.13/css/all.css">

  <script src="https://use.fontawesome.com/2ad43eee53.js"></script>
  <script src="{{site.baseurl}}{{site.js_path}}slide_menu.js"></script>

</head>

