<section id="inicio">

  <article>
  <p>Luís Fernando Campos D'Arcadia, doutor em Letras na UNESP - FCL de Assis. Trabalho com aulas de redação para concursos públicos e ensino de língua francesa.</p>

  <p>Durante o doutorado estudei a produção literária do século XVII no Brasil e em Portugal. Os estudos possuem um viés filológico, com a transcrição de poemas, assim como literário.</p>

    <h1> Serviços </h1>

    <p>Ofereço aulas particulares de língua portuguesa, redação e língua francesa. Confira mais detalhes na minha página de <a href="http://www.luisdarcadia.com/alunos"> Alunos</a>. </p>

    <p>Serviços de revisão de textos em geral, incluindo Trabalhos de Conclusão de Curso, dissertações e tese. Para detalhes sobre preços e prazos, confira<a href="http://www.luisdarcadia.com/revisoes"> Revisões</a>.</p>

    <h1> Produção Acadêmica </h1>

    <h2>
      <p><a href="http://lattes.cnpq.br/7985896624101596">Currículo Lattes</a></p>
    </h2>

    <h2>
      <p><a href="https://repositorio.unesp.br/bitstream/handle/11449/113726/ISBN9788539304226.pdf?sequence=1&isAllowed=y"> Erotismo e Religiosidade: Romances de Antônio da Fonseca Soares sobre mulheres (2013) [CAPÍTULO DE LIVRO] </a></p>
    </h2>

    <h2>
      <p><a href="https://repositorio.unesp.br/handle/11449/181432"> Tese de Doutorado (2019) </a></p>
    </h2>

    <h2>
      <p><a href="https://repositorio.unesp.br/bitstream/handle/11449/94014/darcadia_lfc_me_assis.pdf;sequence=1"> Dissertação de Mestrado (2012) </a></p>
    </h2>

  </article>

</section>
