  <div id="buscatex">
    <form action="https://www.ctan.org/search" method="get">
    <input name="phrase" accept-charset="ISO-8859-1" type="text" placeholder="Busca em CTAN">
    </form>

    <form name="searchbox" action="https://www.wikibooks.org/wiki/Latex">
      <input name="search" type="text" size="13" dir="ltr" placeholder="Latex no Wikibooks"/>
    </form>

    <form action="https://tex.stackexchange.com/search" method="get"  role="search">
    <input name="q" type="text" placeholder="Latex no StackExchange" value="" maxlength="240" />
    </form>
  </div>
