<div class="box">
  <i class="fa fa-arrows-alt" aria-hidden="true"></i>
</div>

<div id="showcase-{{page.nav}}">
   <a id="burger_button" href="#" onclick="toggleMenu('burger_menu')"><i class="fas fa-bars"></i></a><h1>· {{site.title}} · {{page.subtitle}} </h1>
</div>

<nav>

  <ul>
      <li>
      <ul id="dropdown-content">
        <li><a {% if page.title == 'Início' %} id="{{page.nav}}" {% endif %} class="sel-{{page.cor}}" href="{{site.baseurl}}/"> Início </a></li>
        <li><a {% if page.title == 'Blog' %} id="{{page.nav}}" {% endif %} class="sel-{{page.cor}}" href="{{site.baseurl}}/blog"> Blog </a></li>
        <li><a {% if page.title == 'Start Page' %} id="{{page.nav}}" {% endif %} class="sel-{{page.cor}}" href="{{site.baseurl}}/start"> Starpage </a></li>
        <li><a {% if page.title == 'LaTeX - Links Úteis' %} id="{{page.nav}}" {% endif %} class="sel-{{page.cor}}" href="{{site.baseurl}}/latex"> LaTeX </a></li>
        <li><a {% if page.title == 'Alunos' %} id="{{page.nav}}" {% endif %} class="sel-{{page.cor}}" href="https://luisdarcadia.herokuapp.com"> Alunos </a></li>
        <li><a {% if page.title == 'Sobre' %} id="{{page.nav}}" {% endif %} class="sel-{{page.cor}}" href="{{site.baseurl}}/sobre"> Sobre </a></li>
      </ul>
    </li>
  </ul>

</nav>

      <ul id="burger_menu" class="burger_menu">
        <li><a {% if page.title == 'Início' %} id="{{page.nav}}" {% endif %} class="sel-{{page.cor}}" href="{{site.baseurl}}/"> Início </a></li>
        <li><a {% if page.title == 'Blog' %} id="{{page.nav}}" {% endif %} class="sel-{{page.cor}}" href="{{site.baseurl}}/blog"> Blog </a></li>
        <li><a {% if page.title == 'Start Page' %} id="{{page.nav}}" {% endif %} class="sel-{{page.cor}}" href="{{site.baseurl}}/start"> Starpage </a></li>
        <li><a {% if page.title == 'LaTeX - Links Úteis' %} id="{{page.nav}}" {% endif %} class="sel-{{page.cor}}" href="{{site.baseurl}}/latex"> LaTeX </a></li>
        <li><a {% if page.title == 'Alunos' %} id="{{page.nav}}" {% endif %} class="sel-{{page.cor}}" href="https://luisdarcadia.herokuapp.com"> Alunos </a></li>
        <li><a {% if page.title == 'Sobre' %} id="{{page.nav}}" {% endif %} class="sel-{{page.cor}}" href="{{site.baseurl}}/sobre"> Sobre </a></li>
      </ul>
