<nav>
  <ul>
    <li>
      <ul id="dropdown-content">
        <li><a {% if page.title == 'Início' %} id="{{page.nav}}" {% endif %} class="sel-{{page.cor}}" href="{{site.baseurl}}/"> Início </a></li>
        <li><a {% if page.layout == 'post' %} id="{{page.nav}}" {% endif %} {% if page.title == 'Blog' %} id="{{page.nav}}" {% endif %} class="sel-{{page.cor}}" href="{{site.baseurl}}/blog"> Blog </a></li>
        <li><a {% if page.title == 'Start Page' %} id="{{page.nav}}" {% endif %} class="sel-{{page.cor}}" href="{{site.baseurl}}/start"> Starpage </a></li>
        <li><a {% if page.title == 'LaTeX - Links Úteis' %} id="{{page.nav}}" {% endif %} class="sel-{{page.cor}}" href="{{site.baseurl}}/latex"> LaTeX </a></li>
        <li><a {% if page.title == 'Alunos' %} id="{{page.nav}}" {% endif %} class="sel-{{page.cor}}" href="{{site.baseurl}}/alunos"> Alunos </a></li>
        <li><a {% if page.title == 'Sobre' %} id="{{page.nav}}" {% endif %} class="sel-{{page.cor}}" href="{{site.baseurl}}/sobre"> Sobre </a></li>
      </ul>
    </li>
  </ul>
</nav>
