<nav class="navbar">
  <ul>
    <li><a href="{{site.baseurl}}/#inicio"><img src="{{site.url}}/{{site.img_path}}/foto.jpg"></a></li>

    {% for navlink in site.navlinks %}
    <li>
      <a href="{{site.baseurl}}/#{{navlink.link}}"> {{navlink.name}}</a>
    </li>
    {% endfor %}

      <ul id="social">
        <li><a href="https://www.instagram.com/{{site.instagram_username}}"> {% include instagram.svg %} </a></li>
        <li><a href="mailto:{{site.email}}">{% include email.svg %}</a></li>
        <li><a href="https://github.com/{{site.github_username}}">{% include github.svg %}</a></li>
        <li><a href="{{site.linkedin_profile}}">{% include linkedin.svg %}</a></li>
      </ul>

  </ul>

</nav>
