<section id="revisoes">

  <article>
  <h1> Revisões </h1>

    <p>Revisão da coesão e coerência textuais, assim como de aspectos da modalidade escrita e formal da Língua Portuguesa (ortografia, concordância, pontuação, entre outros).</p>

    <p><strong>Não</strong> inclui <em>redação</em> complementar ou integral de textos em qualquer modalidade.</p>

  <h1>Como é feito o pagamento?</h1>

    <p>Depósito bancário, emissão de boleto ou anúncio no Mercado Livre.</p>

    <p>Emitimos nota fiscal (CNPJ 32.958.137/0001-40).</p>

  <h1>Preços e prazos</h1>

    <p>Consideramos <strong>uma lauda</strong> o conjunto de <strong>300 palavras</strong>.</p>

    <p>O preço de <strong>uma lauda</strong> é R$ 5,00.</p>

    <p>* preço mínimo para qualquer orçamento é R$ 40,00.</p>

    <p>O prazo para a revisão é de <strong>um dia útil</strong> por cada <strong>10 laudas</strong> requisitadas pelo cliente.</p>

    <h1> Dúvidas? Entre em contato (sistema mediado Formspree, pede-se confirmação por CAPTCHA):</h1>
    {% include contato_form.html %}

  </article>

</section>
