---
---

$inicio_img: url({{site.img_path}}{% for imagem in site.data.imagens %}{% if imagem.name == "inicio"%}{{imagem.url}}{% endif %}{% endfor%});
$blog_img: url({{site.img_path}}{% for imagem in site.data.imagens %}{% if imagem.name == "blogmain"%}{{imagem.url}}{% endif %}{% endfor%});
$blogpost_img: url({{site.img_path}}{% for imagem in site.data.imagens %}{% if imagem.name == "blogpost"%}{{imagem.url}}{% endif %}{% endfor%});
$start_img: url({{site.img_path}}{% for imagem in site.data.imagens %}{% if imagem.name == "start"%}{{imagem.url}}{% endif %}{% endfor%});
$tex_img: url({{site.img_path}}{% for imagem in site.data.imagens %}{% if imagem.name == "tex"%}{{imagem.url}}{% endif %}{% endfor%});
$sobre_img: url({{site.img_path}}{% for imagem in site.data.imagens %}{% if imagem.name == "sobre"%}{{imagem.url}}{% endif %}{% endfor%});

@import "main";
