.post-header
  padding: 1em
  h1
    font-size: 24pt
    width: 100%
    text-align: center
  img
    width: 10%
    margin: 5px

.post-author
  display: flex
  align-items: center
  justify-content: right
  p
    text-align: right

.dt-published, .dt-updated
  font-size: 11pt
  text-align: right

.post-content
  p, a
    font-size: 14pt
  p
    margin: auto
  blockquote
    font-size: 12pt
  code
    white-space: pre-wrap
    font-size: 10pt
  pre
    margin: 1em
  img
    margin: auto
    display: block
    border-radius: unset
    width: 100%
  ul
    padding: 1em

.post-title
  text-align: right

.highlighter-rouge
  background: black
  color: salmon

.footnotes
  display: none

sup
  z-index: 3

input[type=checkbox]
  z-index: 2
  border: 1em solid
  height: 5px
  width: 5px
  background: $c_pastel
  color: salmon

.footnote
  color: salmon
  padding: 3px
  font-weight: bold

.invisible
  opacity: 0
  display: none

.visible
  display: block
  opacity: 0.9

.tooltip
  font-weight: bold
  position: absolute
  transition: 3s
  background: salmon
  color: $c_black
  padding: 1em
  z-index: 2
#notas
  display: none
