$c_red: #CA3E3A
$c_blue: #126B8C
$c_green: #3C6152
$c_yellow: #CAA73A
$c_black: #121714
$c_pastel: #B08E55
$main_ff: 'EB Garamond', serif

@import "luis/blog-post", "luis/blog", "luis/commmon", "luis/inicio", "luis/latex", "luis/nav", "luis/showcase", "luis/sobre", "luis/start"
