#clybas
  h3
    margin: 1em 0
  h4
    margin: 1em 0
    font-size: 11pt
  a
    color: #424547 !important
    font-weight: bold
  article
    background-color: #f2f9fc
    color: #000000
    a
        font-size: 18pt
  nav
    background-color: #f2f9fc !important


