<ul id="social">
  <li><a href="https://www.instagram.com/{{site.instagram_username}}"> {% include social/instagram.svg %} </a></li>
  <li><a href="mailto:{{site.email}}">{% include social/email.svg %}</a></li>
  <li><a href="https://www.facebook.com/{{site.facebook_username}}"> {% include social/facebook.svg %} </a></li>
  <li><a href="https://github.com/{{site.github_username}}">{% include social/github.svg %}</a></li>
  <li><a href="{{site.linkedin_profile}}">{% include social/linkedin.svg %}</a></li>

