---
---

$inicio_img: url('{{site.url}}/{{site.img_path}}/still-life-sobre.jpg');
$aulas_img: url('{{site.url}}/{{site.img_path}}/vanitas_inicio.jpg');
$blog_img: url('{{site.url}}/{{site.img_path}}/blog_collier.jpg');
$revisoes_img: url('{{site.url}}/{{site.img_path}}/vanitas_collier.jpg');
$sobre_img: url('{{site.url}}/{{site.img_path}}/vanitas_tex.jpg');
$orcamento_img: url('{{site.url}}/{{site.img_path}}/claesz_vanitas.jpeg');
$lusiadas_img: url('{{site.url}}/{{site.img_path}}/collier_still_life.jpg');

@import "main";
@import "clybas";

