---
layout: default
title: Start Page
subtitle: Página inicial
nav: nav-start
cor: start
---

<div class="forms">
	<form action="https://duckduckgo.com/" method="get" target="_blank">
	<input type="text" name="q" autofocus="autofocus"  placeholder="Duck Duck Go">
	</form>
</div>

<div class="gridquad">

  <div>
    <h2>Faculdade</h2>
    <ul>
      {% for startlink in site.data.startlinks %}
        {% if startlink.fonte == 'facul' %} 
          <li><a href="{{startlink.link}}"> {{startlink.tipo}} </a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div>
    <h2>Social </br> & Fun</h2>
    <ul>
        {% for startlink in site.data.startlinks %}
          {% if startlink.fonte == 'fun' %} 
            <li><a href="{{startlink.link}}"> {{startlink.tipo}} </a></li>
          {% endif %}
        {% endfor %}
    </ul>	
  </div>

  <div>
    <h2>Misc</h2>
    <ul>
      {% for startlink in site.data.startlinks %}
        {% if startlink.fonte == 'varia' %} 
          <li><a href="{{startlink.link}}"> {{startlink.tipo}} </a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div id="tecnico">
    <h2>Técnico</h2>
    <ul>
      {% for startlink in site.data.startlinks %}
        {% if startlink.fonte == 'localhost' %} 
          <li><a href="{{startlink.link}}"> {{startlink.tipo}} </a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

</div>
</div>
