---
layout: default
---

<article>
  <header>
    <h1>{{ page.title | markdownify }}</h1>
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {% assign date_format = "em %-d/%m/%Y" %}
        {{ page.date | date: date_format }}
      </time>
        {% if page.author %}
        <p> • por {{ page.author }} </p>
        {% endif %}
  </header>

  <section>
    {{ content }}
  </section>

  </br>

  <section>
  {% if page.comments %}
    {% include disqus_comments.html %}
  {% endif %}
  </section>

</article>
