---
layout: default
nav: nav-blogpost
cor: corblog
---
<article>

  <div class="article-header">

    <h1>{{ page.title | markdownify }}</h1>

        <p class="article-meta">

        <time datetime="{{ page.date | date_to_xmlschema }}">
          {% assign date_format = "em %-d/%m/%Y" %}
          {{ page.date | date: date_format }}
        </time>

        {% if page.author %}
          • por {{ page.author }}
        {% endif %}

      </p>

  </div>

  <div class="article-content">
    {{ content }}
  </div>

  </br>
  <hr>
  </br>

  <div id="disqus">
  {% if page.comments %}
    {% include disqus_comments.html %}
  {% endif %}
  </div>

</article>
